.wrapper {
    width: 420px;
    background: black; /* Fond noir */
    color: #fff; /* Texte blanc */
    border-radius: 10px;
    padding: 30px 40px;
    margin: 50px auto; /* Centrer le formulaire */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); /* Ombre légère */
}

/* Formulaire */
form {
    width: 100%;
}

/* Titre du formulaire */
form h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

/* Boîte des champs d'entrée */
.input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
}

/* Champs texte, email et mot de passe */
.input-box input {
    width: 100%;
    height: 50px;
    background: #fff;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #020202;
    padding: 0 20px 0 45px; /* Espace à gauche pour les icônes */
    box-sizing: border-box; /* Assure que le padding n'affecte pas la taille */
}

.input-box input::placeholder {
    color: #000 /* Placeholder blanc et transparent */
}

.input-box input:focus {
    border-color: #fff; /* Bordure blanche au focus */
}

/* Icônes dans les champs */
.input-box .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #000;
}

/* Bouton de soumission */
form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #e0e0e0; /* Fond plus clair au survol */
}


.error-message {
    color: #ff0000; /* Couleur rouge pour le message d'erreur */
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

/* Effets responsive */
@media (max-width: 480px) {
    .wrapper {
        width: 90%; /* S'adapte aux petits écrans */
        padding: 20px 30px;
    }

    form h1 {
        font-size: 28px;
    }

    form button {
        font-size: 14px;
    }


}