/* TodoItem.css */
.task-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.task-card {
    background: #f0f4f8; /* Couleur de fond claire pour la carte */
    padding: 15px; /* Réduit l'espacement intérieur pour s'adapter à la nouvelle taille */
    border-radius: 8px;
    width: flex;
    
    max-width: 1000px; /* Largeur maximale de la carte */
    max-height: 150px; /* Hauteur maximale de la carte */
    overflow: hidden; /* Masque le contenu qui dépasse */
    position: relative; /* Position relative pour permettre le placement du statut et des boutons */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner un effet de profondeur */
    display: flex;
    flex-direction: column; /* Permet l'ajustement automatique des éléments internes */
}

.task-card h2 {
    margin-top: 0;
    font-size: 18px; /* Ajuste la taille du titre pour s'adapter à la nouvelle taille */
    font-weight: bold;
    overflow: hidden; /* Masque le texte qui dépasse */
    text-overflow: ellipsis; /* Affiche une ellipse si le texte dépasse */
    white-space: nowrap; /* Empêche le retour à la ligne */
}

.task-card p {
    margin: 5px 0; /* Réduit l'espacement autour du texte */
    font-size: 12px; /* Ajuste la taille de la police du texte */
}

/* Style pour le statut de la tâche */
.task-card .status {
    font-weight: bold;
    margin: 5px 0; /* Réduit l'espacement autour du statut */
    font-size: 12px; /* Ajuste la taille de la police du statut */
    color: #333; /* Couleur du texte pour le statut */
}

/* Style pour les actions de la tâche (boutons) */
.task-actions {
    display: flex;
    justify-content: flex-end; /* Aligne les boutons à droite */
    margin-top: auto; /* Permet aux actions de se placer en bas de la carte */
}

/* Style pour les boutons */
.task-actions button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Ajuste la taille des icônes pour qu'elles s'adaptent à la taille de la carte */
    margin-left: 10px; /* Espace entre les boutons */
    transition: color 0.3s ease; /* Effet de transition pour les changements de couleur */
}

.task-actions button:hover {
    color: #07509f; /* Couleur au survol des boutons */
}
